.product{
    display: flex;
    margin: 1rem 0rem;
    border-bottom: 1px solid lightgrey;
}
.product-title{
    padding: 0rem 1rem 0rem 3rem;
    
}
.product-title h4{
    color: blue;
    font-weight: 400;
}
.add-cart-btn{
    margin-bottom: 1rem;
    background: goldenrod;
    width: 9rem;
    height: 2rem;
    border: 1px solid darkgray;
    border-radius: .3rem;
}